@import @style/variables
@import @style/mixins

.cardWrapper
  position: relative

.quote
  background-repeat: no-repeat
  display: inline-flex
  width: auto
  position: absolute
  height: 30px;

.quoteLeft
  composes: quote
  top: 1rem;
  left: -1.05rem;

.quoteRight
  composes: quote
  bottom: 1rem
  right: -1.05rem

.card
  background: $light
  text-align: center
  padding: 1em 1.618em

  p
    font-style: italic

  +above(tablet)
    padding: 2em 3.5em

.author
  font-weight: 600