@import @style/mixins

.links
  display: flex
  align-items: center

.link
  padding: 0.33rem

.link:not(:last-child)
  margin-right: 1.7em

.icon
  height: 2.7rem
  width: 2.7rem
  margin: 0

.emailIcon
  composes: icon
  height: 3.2rem
  width: 3.2rem
  