@import @style/mixins
  
.galleryImages
  display: grid;
  gap: 2.72rem
  grid-template-columns: repeat(auto-fill, minmax(calc(100% - 2.72rem), 1fr));

  @media (min-width: 500px)
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2.72rem), 1fr));
  
  +above(tablet)
    gap: 1.6rem
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1.6rem), 1fr));