@import @style/variables
@import @style/mixins

.contentWrapper
  margin: 0 auto
  width: 100%
  max-width: 1200px
  padding-left: 1rem
  padding-right: 1rem

  +above(tablet)
    padding-left: 1.618rem
    padding-right: 1.618rem

.contentWrapperWithVertical
  composes: contentWrapper;
  padding-top: 1.618rem;
  padding-bottom: 1.618rem;

  +above(tablet)
    padding-top: 3rem
    padding-bottom: 3rem
