@import @style/variables
@import @style/mixins

.headerHome
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 2

  a
    color: $light
    text-decoration: none

.header
  background: $dark;

  a
    color: $light
    text-decoration: none

.wrapper
  display: flex
  align-items: center
  justify-content: space-between
  padding: 3.45rem 0 1.5rem

.logoWrapper
  line-height: 1

.logo
  width: 240px

  +above(desktop)
    width: 345px

.largeNavWrapper
  display: none;

  +above(tablet)
    color: green
    display: block;


.navLink
  text-decoration: none
  text-transform: uppercase
  color: $dark
  position: relative

  &:not(:last-child)
    margin: 0 2rem 0 0;

    +above(tablet)
      margin: 0 1.6rem 0 0

    +above(desktop)
      margin: 0 3.7rem 0 0

.navLinkActive::after
  content: ''
  display: inline-block
  position: absolute
  bottom: -10px
  left: 0
  height: 2px
  width: 100%
  background: $shiny
  margin: 0.618em 0 0
