@import @style/variables
@import @style/mixins

.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 2

  a
    color: $light
    text-decoration: none

.wrapper
  display: flex
  align-items: center
  justify-content: space-between
  padding: 3.45rem 0 1.5rem
  width: 100%
  margin: 0 auto
  max-width: 1495px
  padding-left: 2.75rem
  padding-right: 2.75rem

.logoWrapper
  line-height: 1

.logo
  width: 80%

  +above(tablet)
    width: 115%

.largeNavWrapper
  display: none;

  +above(tablet)
    display: block;


.navLink
  text-decoration: none
  text-transform: uppercase
  color: $dark
  position: relative

  &:not(:last-child)
    margin: 0 2rem 0 0;

    +above(tablet)
      margin: 0 3.7rem 0 0

.navLinkActive::after
  content: ''
  display: inline-block
  position: absolute
  bottom: -10px
  left: 0
  height: 2px
  width: 100%
  background: $shiny
  margin: 0.618em 0 0
