@import @style/variables
@import @style/mixins

.footer
  background: $dark
  color: $light

.wrapper
  display: flex
  flex-direction: column-reverse
  align-items: center
  justify-content: space-between
  padding: 3.2rem 0 2.4rem

  +above(tablet)
    flex-direction: row

.copy
  letter-spacing: 0.8px

.socialLinksWrapper
  padding: 0 0 1.2rem