@import @style/variables
@import @style/mixins

.testimonials
  position: relative

.backgroundImage
  position: absolute !important
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 0

.content
  background: rgba(lighten($dark, 80%), 0.8)
  position: relative
  padding: 2.6rem 0
  backdrop-filter: blur(1px)

  +above(tablet)
    padding: 3rem 0