@import @style/variables
@import @style/mixins

.freeEstimateBanner
  background: $shiny
  padding: 3rem 0 3.1rem
  color: $light

  +above(tablet)
    padding: 5.5rem 1.0875rem

.wrapper
  display: flex
  justify-content: space-between
  flex-direction: column
  align-items: center
  max-width: 769px
  margin: 0 auto

  +above(tablet)
    flex-direction: row

.heading
  margin: 0 0 2.018rem
  text-align: center

  +above(tablet)
    margin: 0
