@import @style/variables
@import @style/mixins
  
.businessInfo
  position: relative
  padding: 2rem 0
  background: url('../../images/gold-tile-pattern.jpg')
  background-size: 170%
  background-position: center

  +above(tablet)
    padding: 3.05556rem 0

.content
  display: grid
  gap: 2rem
  grid-template-columns: 4fr 8fr
  position: relative
  z-index: 1

.dateHeading
  text-transform: uppercase