@import @style/variables
@import @style/mixins
  
.businessInfo
  position: relative
  overflow: hidden
  padding: 2.6rem 0

  +above(tablet)
    padding: 4.6rem 0

.backgroundImage
  position: absolute !important
  left: 0
  bottom: 0
  width: 125%
  height: 125%
  z-index: 0

.content
  display: grid
  gap: 2.5rem
  position: relative
  z-index: 1

  +above(tablet)
    grid-template-columns: 5fr 7fr

.contentItem
  +above(tablet)
    padding: 2.8em 0 0 1.7em

.dateHeading
  text-transform: uppercase